NUTRIAL_TAG="babyfungus"
MYCELIAL_TAG="babyfungus" # or babyfungus;semanticweb1;semanticweb2;semanticweb3

# mastodon server
URL="<your-mastodon-server>"
ACCOUNT_NAME="<your-mastodon-account-name>"
MASTODON_API_KEY="<your-mastodon-api-token>"

# rdf fuseki server
FUSEKI_SERVER_URL="<url-to-fuseki-server>"
